<h1>Report</h1>

<%= render partial: 'stakeholders/shared/view_toggle' %>

<%= form_with model: @search, url: filter_path, scope: :search, method: :patch,
  data: {
    turbo_frame:  :results,
    controller: 'auto-submit clear-form',
    action: "input->auto-submit#submit"
  } do |f| %>

  <%= hidden_field_tag 'redirect_url', report_url %>


  <%= render partial: 'stakeholders/shared/search_bar', locals: { f: f } %>

  <div style="display: flex;" >
    <%= render partial: 'results', locals: { parties: @parties, factions: @factions } %>
    <%= render partial: 'stakeholders/shared/filters', locals: { f: f } %>
  </div>

<% end %>
