<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= form_with url: posts_path, scope: :search, method: :get,
  data: {
    turbo_frame:  :results,
    controller: 'auto-submit',
    action: "input->auto-submit#submit"
  } do |f| %>

  <%= f.search_field :terms, placeholder: 'Search...' %>
<% end %>

<%= turbo_frame_tag 'results' do %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
<% end %>

<%= link_to "New post", new_post_path %>
